# Core scientific stack
numpy==2.2.6
pandas==2.3.3
scipy==1.15.3

# ML
scikit-learn==1.7.2
imbalanced-learn==0.14.1
xgboost==3.2.0

# Survival analysis
scikit-survival==0.25.0

# Visualisation
matplotlib==3.10.8
seaborn==0.13.2

# Notebook
jupyter==1.0.0
ipykernel==6.29.4

# Tests
pytest==8.2.1
pytest-cov==5.0.0
